body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: black;
    box-sizing: border-box;
    background-color: #83b9ce;
    margin: 0 auto;
    max-width: 700px;
    min-width: 600px;
}
nav {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    background-color: rgb(76, 75, 76);
    opacity:0.7;
    margin: 0;
    top: 0;
    left: 0;
    font-weight: bold;
    border-top: solid 4px;
    border-bottom: solid 4px;
    color: black;
    font-size: 18px;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 2em;
}
nav a:hover {
    background-color: #666;
}
ul{
    display: inline-block;
    border: 1px solid #000;
    padding: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
  
.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

section {
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;
}
header, main, footer {
    max-width: 800px;
    margin: 0 auto;
}
header {
    padding: 2em 0;
}
header h1 {
    font-size: 3em;
}
header span {
    font-size: 1.5em;
    color: #999
}
footer {
    padding: 2em 0;
    text-align: center;
}
section > p {
    margin: 1em 0;
}
section ul {
    padding-left: 1.5em;
}
.create-recipe__button{
    background-color: rgb(219, 113, 14);
    color: white;
    border-radius: 8px;
    padding: 19px 25px;
    border: 2px solid black;
    transition-duration: 0.1s;
    font-weight: bold;
}
.create-recipe__button:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
.recipe-item__edit{
    background-color: rgb(71, 158, 75);
    color: white;
    border-radius: 8px;
    padding: 8px 14px;
    border: 2px solid black;
    transition-duration: 0.1s;
    font-weight: bold;
}
.recipe-item__edit:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
.recipe-item__delete{
    background-color: rgb(71, 158, 75);
    color: white;
    border-radius: 8px;
    padding: 8px 14px;
    border: 2px solid black;
    transition-duration: 0.1s;
    font-weight: bold;
}
.recipe-item__delete:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
.create-recipe__submit{
    background-color: rgb(219, 113, 14);
    color: white;
    border-radius: 8px;
    padding: 8px 14px;
    border: 2px solid black;
    transition-duration: 0.1s;
    font-weight: bold;
}
.create-recipe__submit:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
.edit-recipe__submit{
    background-color: rgb(219, 113, 14);
    color: white;
    border-radius: 8px;
    padding: 8px 14px;
    border: 2px solid black;
    transition-duration: 0.1s;
    font-weight: bold;
}
.edit-recipe__submit:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
    font-weight: bold;
}
#recipes{
    display: grid;
    grid-template-columns: 60px 60px
    grid-template-rows: auto;
    grid-column-gap: 1em;
    border: 1px solid black;
}
#recipes article{
    background: #ccc;
    padding: 1em;
}
#recipes article img{
    width: 100%;
    background: #ccc;
    border: 1px solid #333;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.editrecipecontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
#myTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: 1px;
    outline: none;
    background-color: white;
    opacity: 0.6;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
}
  
#myTopBtn:hover {
    background-color: #555;
}